@tailwind base;
@tailwind components;
@tailwind utilities;

.trade-line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(41%);
    height: 2px;
    background-color: #4b5563;
    transform: translateX(-50%);
    z-index: 0;
}